* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1532240916534-3193d70b73f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: black;
  color: white;
  /* padding: 0 5px; */
}

.navContainer {
  max-width: 1800px;
  margin: 0 auto;
  
}

ul {
 display: inline-block;
 list-style: none;
 padding-left: 0;
}

li {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#toggleTheme {
  background: none;
  border: none;
  color: white;
  /* padding: 12px 16px;  */
  font-size: 24px; 
  cursor: pointer; 
}


section a {
  font-weight: 800;
}

p {
  color: white;
  font-size: 16px;
}

h1 {
  font-size: 5em;
  color: white;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 5px;
  margin: 0;
  font-weight: 500;
  padding: 0;
}

.subtitle{
  text-align: right;
}

header {
  margin-top: 100px;
  padding: 50px 25px;
  /* text-align: center; */
}

header .container {
  margin: 0 auto;
  max-width: 350px;
}
main {
  padding-bottom: 50px;
  margin: 0;
}

section {
  background: black;
  color: white;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding: 100px 20px;
  max-width: 1440px;
  line-height: 2;
  border-radius: 3px;
}

.bio {
  margin-left: auto;
}

.projects {
  margin: 0 auto;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 768px;
}

.appScreenshot {
  max-width: 100%;
  border-radius: 3px;
}

.appLinks {
  display: block;
  align-self: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
  background:black;
  display: flex;
}

.footLinks li{
  padding: 0 20px;
  font-size: 1.25em;
}

.big {
  font-size: 24px;
}

.lightDarkToggle {
  float: right;
  padding-top: 10px;
}

.js-lightmodeSection {
  background:rgb(240, 240, 245);
  color: rgb(8, 4, 41);
}

.js-lightmodeBackground {
  background-image: url(https://images.unsplash.com/photo-1569877352654-f634d5c87bdc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
}

.js-lightmodeText {
  color: rgb(8, 4, 41);
}



@media only screen and (min-width: 768px) {
 p {
   font-size: 20px;
 }

 .big {
   font-size: 28px
 }

 h1 {
   font-size: 7em;
 }

 .footLinks li {
   padding: 0 30px;
   font-size: 1.5em;
 }

 nav li {
   font-size: 1.2em;
   padding: 0 10px;
 }

 #toggleTheme {
   font-size: 1.75em;
 }

 .navContainer {
   padding: 0 20px;
 }

 header .container {
   max-width: 450px;
   
 }
}

@media only screen and (min-width: 1440px) {
  p { 
    font-size: 24px;
  }

  .big {
    font-size: 36px;
  }

  h1 {
    font-size: 10em;
  }

  .footLinks li {
    padding: 0 50px;
    font-size: 1.75em;
  }

  nav li {
    font-size: 1.5em;
    padding: 0 20px;
  }

  #toggleTheme {
    font-size: 2em;
  }

  header .container{
    max-width: 600px;
  }
}